.mainWrapper {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainContainer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;

    width: 100vw;

    margin-top: 60px;
    background-color: rgb(10,10,10);
}

.leftContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    width: 300px;

    padding-top: 10px;
    border-right: 1px solid rgb(30,30,30);
    overflow: scroll;
    margin-bottom: 10px;
}

.editSpace {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    width: 100%;
}

.editBtn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 80px;
    height: 30px;
    
    font-size: 18px;
    font-weight: 300;
    padding: 10px;
    border-radius: 5px;

    background-color: rgb(170,170,170);
    color: rgb(20,20,20);
    cursor: pointer;
}

.photoSpace {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    height: 250px;
}

.dp {   /* dp --> Display Picture */
    display: flex;
    align-items: center;
    justify-content: center;

    width: 150px;
    height: 150px;

    border-radius: 50%;
    font-size: 60px;

    background-color: rgb(30,30,30);
    color: rgb(210,210,210);
    margin: 10px;
}

.username {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    color: white;
    margin: 10px;
    margin-top: 0px;
    font-size: 24px;
}

.FollowBtn {
    display: flex;  align-items: center;    justify-content: center;

    width: auto;    height: auto;

    padding: 10px;  font-size: 18px;    border-radius: 10px;

    color: white;   background-color: blue;
}

.detailsSpace {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;

}

.detail {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    margin: 10px;
    width: 100%;
}

.detailName {
    display: flex;
    font-size: 20px;
    font-weight: 300;
    color: rgb(20,170,20);
}

.interestsDetail {
    display: flex;      align-items: flex-start;    justify-content: flex-start;
    flex-direction: row;

    width: 100%;    height: auto;   padding: 10px;      gap: 10px;
    overflow-x: scroll;
}

.interestsBox {
    display: flex;  align-items: center;    justify-content: center;

    min-width: auto;    min-height: auto;   padding: 10px;

    border-radius: 10px;    background-color: rgba(44, 42, 42, 0.628); color: white;
}

.detail > input {
    display: flex;
    flex-wrap: wrap;

    width: calc(100% - 10px);

    font-size: 18px;
    padding: 10px;
    margin-right: 10px;
    border: 0px;
    /* border-bottom: 1px solid rgb(40,40,40); */

    background-color: transparent;
    color:rgb(210,210,210);
}

.lineBreak {
    display: flex;
    width: 100%;
    height: 2px;
    margin: 10px;
    margin-left: 0;
    background: rgba(210,210,210,0.15);
}

.settingsBtn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    font-size: 24px;
    font-weight: 400;
    padding-left: 10px;
    margin-bottom: 10px;

    color: rgb(210,210,210);
}

.rightContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: calc(100% - 300px);
    min-width: 280px;
    
    height: 100vh;
    padding:10px;
    overflow: scroll;
}

.userBlogs {
    display: flex;      align-items: center;    justify-content: center;
    flex-direction: column;

    width: calc(100% - 20px);   min-width: 280px;   max-width: calc(100% - 20px);
    height: 300px;
    
    margin: 10px;   padding: 10px;  font-size: 20px;  overflow-y: auto;
    border: 1px solid rgb(141 135 135 / 74%);    border-radius: 10px;
    margin-bottom: 20px;

    color: white;
}

.userblog {
    display: flex;      align-items: center;    justify-content: space-between;
    flex-direction: row;    flex-wrap: wrap;

    max-width: 100%;    min-width: 280px;   width: 100%;    height: auto;

    padding: 10px;  border: 1px solid rgb(171 175 175 / 84%);    border-radius: 10px;
    font-size: 18px;    gap: 10px;
}

.deleteBlogBtn {
    display: flex;  align-items: center;    justify-content: center;
    
    width: auto;    height: 100%;

    padding: 10px;  border-radius: 10px;    background-color: red;  color: white;
    cursor: pointer;
}

.SectionHead {
    display: flex;  align-items: flex-start;    justify-content: flex-start;

    width: 100%;    padding-left: 20px;
    font-size: 28px;    font-weight: 700;   color: white;
}

.newBlog {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;

    background-color: rgb(20,170,20);
    color: white;
}

.likedBlogs {
    display: flex;      align-items: center;      justify-content: center;
    flex-direction: column;

    width: calc(100% - 20px);   min-width: 280px;   height: 300px;
    
    margin: 10px;   padding: 10px;  font-size: 20px;
    border: 1px solid rgb(141 135 135 / 74%);   border-radius: 10px;
    color: white;
}